.before\:position-absolute::before {
    content: '';
    position: absolute;
}

.before\:inset-0::before {
    inset: 0;
}

.before\:opacity-0::before {
    opacity: 0%;
}

.before\:bg-current::before {
    background-color: currentColor;
}

.before\:rounded-inherit::before {
    border-radius: inherit;
}

@media (hover: hover) {
    .hover\:before\:opacity-10:hover::before {
        opacity: 10%;
    }
}

.before\:transition::before {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-duration: 150ms;
}
