/*
 * BORDERS
 */

@use 'sass:math';

$sizes: (
    xs: 0.125rem,
    sm: 0.25rem,
    md: 0.375rem,
    lg: 0.5rem,
    xl: 0.625rem,
    2xl: 0.75rem,
    3xl: 0.875rem,
    4xl: 1rem,
);

$bordersLimit: 15;

.border {
    border: 1px solid black;
}

.border-solid {
    border-style: solid;
}
.border-dashed {
    border-style: dashed;
}
.border-dotted {
    border-style: dotted;
}
.border-double {
    border-style: double;
}

.border-none {
    border: none !important;
}

.border-0 {
    border: 0 !important;
}
.border-t-0 {
    border-top-width: 0;
}
.border-r-0 {
    border-right-width: 0;
}
.border-b-0 {
    border-bottom-width: 0;
}
.border-l-0 {
    border-left-width: 0;
}

.border-1 {
    border-width: 1px !important;
}
.border-t-1 {
    border-top-width: 1px;
}
.border-l-1 {
    border-left-width: 1px;
}

.border-2 {
    border-width: 2px !important;
}
.border-3 {
    border-width: 3px !important;
}
.border-4 {
    border-width: 4px !important;
}

.border-white {
    border-color: white !important;
}
.border-black {
    border-color: black !important;
}
.border-transparent {
    border-color: transparent !important;
}
.border-lightgray {
    border-color: lightgray !important;
}
.border-gray {
    border-color: gray !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-circle {
    border-radius: 100% !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

/*
 * Margins
 */
@for $i from 0 through $bordersLimit {
    .rounded-#{$i} {border-radius: 0.25rem * $i !important;}
    .rounded-#{$i}\.5 {border-radius: (0.25rem * $i) + math.div(0.25, 2) !important;}
}

@each $prefix, $size in $sizes {
    .rounded-#{$prefix} {
        border-radius: $size;
    }
}
