/*
 * GRIDS
 */

@use 'sass:math';
@use '../variables' as *;

$grid-columns: 12 !default;

@mixin col($width: 100%) {
    box-sizing: border-box;
    width: $width;
    @if $width == auto{
        flex: 0 0 auto;
    } @else if $width == 100%{
        flex: 1 1 0;
    } @else {
        flex: 0 0 auto;
    }
}

@mixin make-cols($columns: $grid-columns, $prefix: null) {
    @for $i from 0 through $columns {
        @if $i > 0 {
            @if $prefix {
                .row .col-#{$prefix}-#{$i} {
                    @include col(math.percentage(calc($i / $grid-columns)));
                }
            } @else {
                .row .col-#{$i} {
                    @include col(math.percentage(calc($i / $grid-columns)));
                }
            }
        } @else {
            @if $prefix {
                .row .col-#{$prefix} {
                    @include col(100%);
                }
            } @else {
                .row .col {
                    @include col(100%);
                }
            }
        }
    }
}

@mixin make-cols-breakpoints($columns: $grid-columns, $breakpoints: $grid-media-breakpoints) {
    @each $prefix, $width in $breakpoints {
        @media (min-width: $width) {
            @include make-cols($columns, $prefix);

            .row .col-#{$prefix}-auto {
                @include col(auto);
            }
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .col-auto {
    @include col(auto);
}

@include make-cols($grid-columns);
@include make-cols-breakpoints($grid-columns, $grid-media-breakpoints);
