/**
 * POSITION
 */

.position-static {
    position: static !important;
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.position-fixed {
    position: fixed !important;
}
.position-sticky {
    position: sticky !important;
}

.top-0 {
    top: 0 !important;
}
.top-25 {
    top: 25% !important;
}
.top-50 {
    top: 50% !important;
}

.start-0 {
    left: 0 !important;
}
.bottom-0 {
    bottom: 0 !important;
}
.end-0 {
    right: 0 !important;
}

.start-25 {
    left: 25% !important;
}

.start-50 {
    left: 50% !important;
}

.start-75 {
    left: 75% !important;
}

.start-100 {
    left: 100% !important;
}

.translate-middle {
    transform: translate(-50%, -50%) !important;
}
.translate-middle-x {
    transform: translateX(-50%) !important;
}
.translate-middle-y {
    transform: translateY(-50%) !important;
}
