/*
 * TEXT
 */

@use 'sass:map';
@use 'sass:math';

$grid-text-sizes: (
    5xs: (font: 0.625rem, line: 0.75rem),
    4xs: (font: 0.6875rem, line: 0.875rem),
    3xs: (font: 0.75rem, line: 1rem),
    2xs: (font: 0.8125rem, line: 1.125rem),
    xs: (font: 0.875rem, line: 1.25rem),
    sm: (font: 0.9375rem, line: 1.375rem),
    md: (font: 1rem, line: 1.5rem),
    lg: (font: 1.125rem, line: 1.625rem),
    xl: (font: 1.25rem, line: 1.75rem),
    2xl: (font: 1.375rem, line: 1.875rem),
    3xl: (font: 1.5rem, line: 2rem),
    4xl: (font: 1.625rem, line: 2.125rem),
    5xl: (font: 1.75rem, line: 2.25rem),
    6xl: (font: 1.875rem, line: 2.375rem),
    7xl: (font: 2rem, line: 2.5rem),
);

$sizes: 10 !default;
$weights: 9 !default;

@each $prefix, $size in $grid-text-sizes {
    .text-#{$prefix} {
        font-size: map.get($size, font);
        line-height: map.get($size, line);
    }
}

@for $i from 1 through $sizes {
    .lh-#{$i} {
        line-height: 0.25rem * $i;
    }
}

@for $weight from 1 through $weights {
    .fw-#{$weight * 100} {
        font-weight: $weight * 100;
    }
}

.text-inherit {
    color: inherit;
}
.text-initial {
    color: initial;
}
.text-current {
    color: currentColor;
}
.text-transparent {
    color: transparent;
}
