.btn {
    --y-btn-font-size: 0.9rem;
    --y-btn-font-weight: 400;
    --y-btn-font-color: inherit;

    --y-btn-padding-y: 0px;
    --y-btn-padding-x: 12px;

    --y-btn-border-radius: 5px;

    --y-btn-height: 36px;
    --y-btn-icon-height: 20px;
}

.btn:focus-visible {
    outline: none;
}
.btn:focus-visible:before {
    opacity: .15 !important;
}

.btn * {
    margin: 0;
}

.btn {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: var(--y-btn-height);
    background-color: transparent;
    border-radius: var(--y-btn-border-radius);
    cursor: pointer;
    text-decoration: none;
    
    border: none;

    font-family: inherit;
    font-size: var(--y-btn-font-size);
    font-weight: var(--y-btn-font-weight);
    color: inherit; 

    padding: var(--y-btn-padding-y) var(--y-btn-padding-x);
    box-sizing: border-box;
    user-select: none;
}