@charset "UTF-8";

@use './ui/flex.scss';
@use './ui/grid.scss';
@use './ui/aside.scss';
@use './ui/header.scss';
@use './ui/sizing.scss';
@use './ui/display.scss';
@use './ui/buttons.scss';
@use './ui/position.scss';

body {
    margin: 0;
    display: block;
};

* {
    box-sizing: border-box; 
}
