@charset "UTF-8";

@use './ui/flex.scss';
@use './ui/grid.scss';
@use './ui/list.scss';
@use './ui/theme.scss';
@use './ui/aside.scss';
@use './ui/header.scss';
@use './ui/sizing.scss';
@use './ui/spacing.scss';
@use './ui/display.scss';
@use './ui/buttons.scss';
@use './ui/z-index.scss';
@use './ui/borders.scss';
@use './ui/position.scss';

*,:after,:before,::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0
}
